<!DOCTYPE html>
<html class="no-js">

<head>
    {% include "inc/meta/desktop.html" %}
    {% include "inc/source/css.html" %}
    {% include "inc/source/js-top.html" %}
    <style>
        
        .test{
            display: block;
            position: absolute;
        }

        .fly{
            display: block;
            height: 100px;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="page" id="js-page">
        
        {% include "inc/base/page-header.html" %}
        
        <!--主体-->
        <div class="page-inner" id="js-page-inner">
            <ul>
                <li>
                    <a href="#">hehe</a>
                </li>
                <li>
                    <a href="#">hehe</a>
                </li>
                <li>
                    <a href="#">hehe</a>
                </li>
                <li>
                    <a href="#">hehe</a>
                </li>
                <li>
                    <a href="#">hehe</a>
                </li>
                <li>
                    <a href="#">hehe</a>
                </li>
                <li>
                    <a href="#">hehe</a>
                </li>
                <li>
                    <a href="#">hehe</a>
                </li>

                <div class="test">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </ul>
        </div>
        <!--主体 end-->

        {% include "inc/base/page-footer.html" %}

    </div>
    
    {% include "inc/source/js-bottom.html" %}

    <script>
        layer.msg('呵呵');
    </script>

</body>

</html>