<!DOCTYPE html>
<html class="no-js">

<head>
    {% include "inc/meta/desktop.html" %}
    {% include "inc/source/css.html" %}
    <link rel="stylesheet" href="static/css/main.css" >
    {% include "inc/source/js-top.html" %}
    
</head>

<body>
    <div class="page" id="js-page">
        
        {% include "inc/base/page-header.html" %}
        
        <!--主体-->
        <div class="page-inner" id="js-page-inner">
            <i class="ico-test ico-test-date">test文件变化</i>
            <i class="ico-test ico-test-qian2"></i>
        </div>
        <!--主体 end-->

        {% include "inc/base/page-footer.html" %}

    </div>
    
    {% include "inc/source/js-bottom.html" %}


</body>

</html>