@charset "utf-8";

@import "import/base/normalize";                //样式统一
@import "import/base/reset";                    //样式重置

@import "import/define/function";               //函数
@import "import/define/mixin";                  //混合宏
@import "import/define/helper";                 //助手类

@import "import/icon/font";                     //字体图标
@import "import/icon/mini";                     //精灵图标

@import "import/keyframes";                     //动画
@import "import/color";                         //颜色
@import "import/widget";                        //小部件

.wrapper{
    width:1200px;
    margin:0 auto;
    position: relative;
}

.page{

    &.is-debug{
        position: relative;
        
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 4000px;
            background:url(../image/debug.jpg) no-repeat center top;
            pointer-events: none;
            opacity: .3;
            z-index: 100;
        }
    }
}

.page-header{
    
}

.page-inner{
    overflow: hidden;
}

.page-footer{
    
}
