@charset "utf-8";

//透明背景(注意:在IE8中如果对伪类使用会无效,filter在IE8下会对JS造成一些Bug)
@mixin bg-glass($color,$percent){

    $normal-color : rgba($color,$percent);
    $hex-color : ie-hex-str($normal-color);
    background:$normal-color;
    
    @at-root .no-canvas #{&}{
        filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#{$hex-color},endcolorstr=#{$hex-color});
    }
}

//1px线，移动端使用
@mixin one-px($color,$direction:all,$radius:0){
    position: relative;

    &:before{
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0;
        transform: scale(.5);
        transform-origin:left top;
        pointer-events: none;
        border-radius: $radius;
    }

    @if $direction == all {
        &:before{
            border: 1px solid $color;
        }
    }@else{
        @each $d in $direction{
            &:before{
                border-#{$d}:1px solid $color;
            }
        }
    }
}

@mixin root($name) {
    @at-root .#{$name} {
        @content;
    }
}

@mixin has($name) {
    .#{$name} {
        @content;
    }
}

@mixin omit($line:1){ //截断文字
    
    overflow: hidden;
    text-overflow:ellipsis;

    @if $line == 1{
        white-space: nowrap;
    }@else{
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }   
}


//垂直居中
@mixin cy{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

//水平居中
@mixin cx{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

//居中
@mixin cxy{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

@mixin oya{
    overflow: auto;
    overflow-x:hidden;
    overflow-y:auto;
}

@mixin oxa{
    overflow: auto;
    overflow-y:hidden;
    overflow-x:auto;
}

