@charset "utf-8";

//颜色
.color-white{
    color: #ffffff;
}

.color-carmine{ //红
    color: #A10417;
}

.color-tulip-tree{ //橙
    color: #EAB942;
}

.color-cod-gray{ //黑
    color: #111111;
}

.color-light-gray{ //亮黑
    color: #1A1A1A;
}

//字体
.color-red{ //红
    color: #FF0315;
}

.color-olive-drab{ //绿
    color: #579623;
}

.color-nobel{ //灰
    color: #B3B3B3;
}

//线
.color-mine-shaft{ //黑
    color: #313131;
}

.color-silver{ //灰
    color: #CCCCCC;
}

