@charset "utf-8";

//按钮
@include root(ele-btn) {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    background: #DF0338;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 2px 5px 1px rgba(#000,.3);
    transition: all .5s ease;
    border: 0;

    &:hover,
    &:focus,
    &.focus,{
        text-decoration: none;
        background: darken(#DF0338,3%);
    }
    
    &:active,
    &.active{
        
    }

    &[disabled],
    &.disabled{
        cursor: not-allowed;
        pointer-events: none;
        filter:grayscale(1);
        opacity:.65;
    }

    &.is-primary{
        background-color:#8772ab;
        
        &:hover{
            background-color:darken(#8772ab,5%);
        }
    }
    
    &.is-md{
        height: 30px;
        line-height: 30px;
    }
}

//输入框
@include root(ele-input) {
    display: inline-block;
    vertical-align: middle;
    background:#1B1A27;
    border:1px solid #2D2D38;
    border-radius: 3px;
    padding:0 10px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    
    
    &:hover,
    &:focus,
    &.focus{
        box-shadow: 0 0 10px 1px rgba(#fff,.1);
    }

    &.placeholder{
        color:#b2b2b2;
    }

    &[readonly],
    &[disabled]{
        pointer-events: none;
        filter: grayscale(1);
        opacity: .65;
    }

}


@include root(ele-select){
    display: inline-block;
    vertical-align: middle;
    background:#1B1A27;
    border:1px solid #2D2D38;
    border-radius: 3px;
    padding:0 10px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    
    &:hover,
    &:focus,
    &.focus{
        box-shadow: 0 0 10px 1px rgba(#fff,.1);
    }
    
    &[readonly],
    &[disabled]{
        pointer-events: none;
        filter: grayscale(1);
        opacity: .65;
    }
    
    
}


//缩略图
@include root(ele-nail) {
    
    text-align: center;
    display: block;

    &:before{
        content:"";
        height:100%;
        vertical-align: middle;
        display: inline-block;
        margin-left: -5px;
    }

    img{
        vertical-align: middle;
        max-height: 100%;
    }
}


//复选框
@include root(ele-checkbox) {

    display: inline-block;
    cursor: pointer;
    vertical-align: middle;

    @include root(no-canvas) {

        @include has(ele-checkbox) {
            .native{
                display: inline-block;
                vertical-align: middle;
                margin-top: -2px;
            }

            .emulate{
                display: none;
            }
        }


    }

    .native{
        display: none;
    }

    .native:checked + .emulate{
        @extend .sprite-icons-checkbox-checked;
    }

    .emulate{
        display: inline-block;
        vertical-align: middle;
        @extend .sprite-icons-checkbox;
        margin:-2px 8px 0 0;
    }
}


//单选框
@include root(ele-radio) {

    display: inline-block;
    cursor: pointer;
    vertical-align: middle;

    @include root(no-canvas) {

        @include has(ele-radio) {
            .native{
                display: inline-block;
                vertical-align: middle;
                margin-top: -2px;
            }

            .emulate{
                display: none;
            }
        }

    }

    .native{
        display: none;
    }

    .native:checked + .emulate{
        @extend .sprite-icons-radio-checked;
    }

    .emulate{
        display: inline-block;
        vertical-align: middle;
        @extend .sprite-icons-radio;
        margin:-2px 8px 0 0;
    }
}
