@charset "utf-8";

//按钮
.com-btn{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    background: #DF0338;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #fff;
    border-radius: 0;
    // box-shadow: 1px 2px 5px 1px rgba(#000,.3);
    transition: all .5s ease;
    border: 0;

    &:hover,
    &:focus,
    &.focus,{
        text-decoration: none;
        background: darken(#DF0338,3%);
    }
    
    &:active,
    &.active{
        
    }

    &[disabled],
    &.disabled{
        cursor: not-allowed;
        pointer-events: none;
        filter:grayscale(1);
        opacity:.65;
    }

    &.is-carmine{
        background-color:#A10417;
        border: 1px solid #C30020;
        
        &:hover{
            background-color:darken(#A10417,5%);
        }
    }

    &.is-mine-shaft{
        background-color:#333333;
        border: 0;
        
        &:hover{
            background-color:darken(#333333,5%);
        }
    }
}



//输入框
.com-input{
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
    padding:0 10px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: transparent;
    border: 1px solid #313131;
    

    &:hover,
    &:focus,
    &.focus{
        box-shadow: 0 0 10px 1px rgba(#fff,.1);
    }

    &.placeholder{
        color:#b2b2b2;
    }

    &[readonly],
    &[disabled]{
        pointer-events: none;
        filter: grayscale(1);
        opacity: .65;
    }
}



//下拉框
.com-select{
    display: inline-block;
    vertical-align: middle;
    background:#fff;
    border:0;
    border-radius: 0;
    padding:0 10px;
    height: 40px;
    line-height: 40px;
    color: #1a1a1a;
    
    &:hover,
    &:focus,
    &.focus{
        box-shadow: 0 0 10px 1px rgba(#fff,.1);
    }
    
    &[readonly],
    &[disabled]{
        
    }
    
    
}


//缩略图
.com-nail{
    
    text-align: center;
    display: block;

    &:before{
        content:"";
        height:100%;
        vertical-align: middle;
        display: inline-block;
        margin-left: -5px;
    }

    img{
        vertical-align: middle;
        max-height: 100%;
    }
}


//复选框
.com-checkbox{

    display: inline-block;
    cursor: pointer;
    vertical-align: middle;

    @at-root .no-canvas{

        .com-checkbox{
            .native{
                display: inline-block;
                vertical-align: middle;
                margin-top: -2px;
            }

            .emulate{
                display: none;
            }
        }


    }

    .native{
        display: none;
    }

    .native:checked + .emulate{
        @extend .ico-mini-checkbox-checked;
    }

    .emulate{
        @extend .ico-mini;
        @extend .ico-mini-checkbox;
        margin:-2px 8px 0 0;
    }
}


//单选框
.com-radio{

    display: inline-block;
    cursor: pointer;
    vertical-align: middle;

    @at-root .no-canvas{

        .com-radio{
            .native{
                display: inline-block;
                vertical-align: middle;
                margin-top: -2px;
            }

            .emulate{
                display: none;
            }
        }

    }

    .native{
        display: none;
    }

    .native:checked + .emulate{
        @extend .ico-mini-radio-checked;
    }

    .emulate{
        @extend .ico-mini;
        @extend .ico-mini-radio;
        margin:-2px 8px 0 0;
    }
}

