doctype html
html.no-js

    include ./inc/mixin.jade
    
    head
        +meta('desktop') 
        +link('main')
        script(src="static/js/jquery.js")
        <!--[if lte IE 9]><script src="static/js/polyfill.js"></script><![endif]-->
        
        
    body
        
        div#page
            
            +header()
            
        
            div#inner
                div.wrapper

                    div.test 
                        | 总是判断一个变量的真假那么简单，没有或与非的情况吧。总是判断一个变量的真假那么简单，没有或与非的情况吧。总是判断一个变量的真假那么简单，没有或与非的情况吧。总是判断一个变量的真假那么简单，没有或与非的情况吧。总是判断一个变量的真假那么简单，没有或与非的情况吧。总是判断一个变量的真假那么简单，没有或与非的情况吧。总是判断一个变量的真假那么简单，没有或与非的情况吧。总是判断一个变量的真假那么简单，没有或与非的情况吧。总是判断一个变量的真假那么简单，没有或与非的情况吧。总是判断一个变量的真假那么简单，没有或与非的情况吧。总是判断一个变量的真假那么简单，没有或与非的情况吧。
                    

            +footer()
            
        +script()
        