/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.ico-com-checkbox-checked {
  background-image: url(../image/ico-com.png);
  background-position: 0px 0px;
  width: 18px;
  height: 18px;
}
.ico-com-checkbox {
  background-image: url(../image/ico-com.png);
  background-position: -23px 0px;
  width: 18px;
  height: 18px;
}
.ico-com-radio-checked {
  background-image: url(../image/ico-com.png);
  background-position: 0px -23px;
  width: 16px;
  height: 16px;
}
.ico-com-radio {
  background-image: url(../image/ico-com.png);
  background-position: -21px -23px;
  width: 16px;
  height: 16px;
}
